* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: url(../imgs/Tło.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
a {
    color: white;
    text-decoration: none;
}
.btnMenu {
    display: none;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    flex: 1 1 160px;
    align-items: center;
}
.navi ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.navi ul li {
    margin-right: 25px;
}
/* Section #1 */
.content1 {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content1 h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 40px;
}
.content1 p {
    text-align: center;
    font-size: 1.25em;
    color: #BBD8FF;
    line-height: 1;
    margin-bottom: 60px;
}
.down button {
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 28px;
    background: #25365D;
    color: white;
    width: 200px;
}
.down button i {
    color: #5A7097;
    margin-right: 25px;
}
/* Section #2 */
#content2 {
    margin-top: 400px;
    background: url(../imgs/macc.png);
    background-repeat: no-repeat;
    background-position: 80% 0%; 
    background-size: 50%;
    height: 500px;
}
#content2 h1 {
    color: #25365D;
    font-size: 4em;
    margin-left: 120px;
}
#content2 ul {
    list-style-image: url('../imgs/check.png');
}
.content2 p {
    margin-top: 30px;
    width: 630px;
    text-align: left;
    color: #5A5A5A;
    font-size: 1em;
    margin-bottom: 20px;
}
.todo {
    display: flex;
    margin-top: 30px;
}
.todo .check {
    margin-left: 20px;
    padding-bottom: 15px;
}
.todo .check ul li,
.todo .list p {
    margin-bottom: 15px;
}
.todo .list p {
    color: #222222;
    margin-left: 30px;
}
/* Section #3 */
#content3 {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #EAF1F8;
}
.content3 {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.item {
    max-width: 320px;
    
    justify-content:space-between;
}
.item-img {
    max-width: 10px;
    margin-right: 20px;
}
.item h2 {
    color: #25365D;
    margin-bottom: 15px;
}
.item p {
    width: 250px;
    color: #222222;
}
.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(6) {
    margin-top: 30px;
}
/* Content #4 */
#content4 {
    background: url(../imgs/mac2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 39%;
    height: 500px;
}
.content4 {
    background: url(../imgs/mac1.png);
    background-repeat: no-repeat;
    background-position: 25% 49%;
    background-size: 33%;
    height: 500px;
    
}
.feature .left {
    text-align: left;
}
.feature .right {
    text-align: right;
}
.content4 {
    flex-wrap: wrap;
}
.feature {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.feature-item {
    text-align: left;
    max-width: 180px;
}
.feature-item hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #FF2868;
}
.feature-item h2 {
    color: #25365D;
}
.features-item p {
    font-size: .87em;
    color: #222222;
}
.content4 h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: #25365D;
    font-weight: normal;
    font-size: 3.75em;
}
/* Section #5 */
#content5 {
    background: #EAF1F8;
}
.content5 {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.content5 h1 {
    font-size: 4em;
    color: #25365D;
    font-weight: normal;
    margin-bottom: 70px;
}
.content5 p {
    color: #5A5A5A;
    font-size: 1em;
    margin-bottom: 70px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.cards .item-cards h2 {
    color: #222222;
    font-size: .8em;
    margin-bottom: 50px;
}
.cards .item-cards {
    background: white;
    margin-right: 20px;
}
.cards .item-cards sup {
    font-size: 5em;
    color: #25365D;
}
.cards .item-cards .dol {
    font-size: 2em;
    font-weight: bold;
    color: #25365D;
}
.cards .item-cards .slash {
    color: #5A5A5A;
    font-size: 1.3em;
}
.cards .item-cards .desc-cards {
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 0;
}
.item-cards {
    box-shadow: -1px 5px 36px -3px #25365D;
    text-align: center;
    padding: 30px 60px 30px 60px;
    align-items: center;
}
.help {
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.help img {
    margin-bottom: 20px;
}
.help h2 {
    margin-bottom: 20px;
    color: #25365D;
}
.contact {
    display: flex;
    justify-content: space-around;
}
.contact p {
    font-size: 1.25em;
    color: #25365D;
}
.contact p i {
    margin-right: 20px;
}
.checkmenu {
    display: none;
}
label {
    cursor: pointer;
}
/*media Queries*/
@media (max-width: 380px) {
    body {
        background-position: 55% 19%;
        overflow-x: hidden;
    }
    input:checked + .navi {
        display: block;
    }
    .navi {
        display: none;
    }
    .navi ul {
        font-size: .90em;
    }
    .btnMenu {
        display: block;
        font-size: 35px;
        margin-left: 160px;
        color: #ffffff;
    }
    .menu_open.navi {
        display: block !important;
    }
    /* .navi {
        display: none;
    } */
    
    .logo {
        margin-bottom: 20px;
        display: flex;
    }
    .content1 {
        margin-top: 80px;
    }
    .content1 h1 {
        margin-bottom: 40px;
        font-size: 2em;
        text-align: center;
    }
    .content1 p {
        text-align: center;
        font-size: 1.15em;
    }
    /*Content #2*/
    .content2 {
        justify-content: center;
        align-items: center;
    }
    #content2 {
        background-position: 95% 97%;
        height: 550px;
    }
    #content2 h1 {
        padding: 20px;
        font-size: 2.5em;
        text-align: center;
        margin-left: 7px;
        margin-bottom: 30px;
    }
    .content2 p {
        width: 320px;
        margin: 0 auto;
        text-align: center;
        font-size: 1em;
        margin-bottom: 50px;
    }
    .down button {
        width: 150px;
        margin-left: 0px;
    }
    .down .read {
        margin-top: 30px;
        width: 150px;
        margin-left: 95px;
    }
    .todo {
        width: 320px;
        margin-top: 30px;
    }
    .todo .check {
        margin-left: 50px;
        padding-bottom: 25px;
    }
    .todo .list p {
        margin-bottom: 0;
    }
    /*Content #3*/
    #content3 {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .content3 {
        text-align: center;
        justify-content: center;
    }
    .content3 .item-img {
        margin-top: 50px;
        margin-left: 100px;
    }
    /*Content #4*/
    #content4 {
        background-position: center 89%;
        padding-bottom: 100px;
        height: 900px;
    }
    .content4 {
        background: none;
    }
    .content4 h1 {
        padding: 10px;
        font-size: 2.5em;
        margin-top: 50px;
    }
    .content4 .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-bottom: 30px;
    }
    .content4 .feature:nth-child(1) {
        margin-top: 150px;
    }
    .feature-item p {
        margin-bottom: 30px;
    }
    .content4 .feature .feature-item {
        text-align: center; 
    }
    /*Content #5*/
    .content5 h1 {
        font-size: 2.5em;
        font-weight: 100;
        margin-bottom: 40px;
    }
    .content5 .dec {
        text-align: center;
        font-size: 1em;
        line-height: 1.25;
        padding-bottom: 45px;
        width: 300px;
        margin: 0 auto;
    }
    .item-cards {
        margin-top: 50px;
    }
    .cards {
        justify-content: center;
        margin-left: 30px;
    }
    .help p {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        font-size: 1em;
        line-height: 1.25;
        margin-bottom: 30px;
    }
    .contact {
        flex-wrap: wrap;
    }
}
